@import 'media-queries';

/*--------------------------------------------------------
# Blog
---------------------------------------------------------*/
.blog,
.category {
  .site-main {
    margin: auto;
    display: flex;
    margin: 30px auto;
    max-width: 1200px;
    padding: 0 10px;
    .post {
      max-width: 700px;
      .entry-header {
        margin-bottom: 20px;
        .entry-title {
          margin-bottom: 10px;
        }
        .entry-meta {
          .posted-on {
            font-family: var(--global-font-family);
            a {
              color: #333 !important;
            }
          }
        }
      }
      .entry-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin: 30px 0;
        p {
          margin-top: 0;
        }
      }
    }
    .primary-sidebar {
      @include tablet-landscape-and-below {
      margin-left: 0;
      text-align: center;
      margin-bottom: 30px;
      }
      margin-left: auto;
      .widget {
        .widget-title {
          margin-bottom: 20px;
        }
      }
    }
    @include tablet-landscape-and-below {
      flex-direction: column;
      max-width: 835px;
      .widget_archive {
        display: none;
      }
    }
    @include mobile-only {
      margin: 0 20px;
    }
  }
}

.category {
  #primary {
    flex-direction: column;
  }
}

/*--------------------------------------------------------
# Single Blog
---------------------------------------------------------*/
.single-post{
  .hero{
    height: 267px;
    background-color: var(--border-color);
    box-shadow: inherit;
    @include mobile-only{
      height: 140px;
    }
    .hero_container{
      h1{
        color: var(--white);
      }
    }
  }
  .site-main{
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
    .entry-header{
      h1{
        color: var(--global-heading-color);
        @include mobile-only{
          font-size: 20px;
        }
      }
    }
    .entry-content{
      margin-bottom: 42px;
      @include mobile-only{
        margin: 0;
      }
      img{
        width: 1000px;
      }
      a{
        color: var(--light-global-font-color);
        &:hover{
          color: var(--global-cta-hover);
        }
      }
    }
    .post-nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 60px;
      .navigation{
        width: 70%;
        font-weight: 600;
        @include mobile-only{
          font-size: 14px;
          width: 100%;
        }
      }
    }
  }
}
