  @import 'media-queries';

  /*--------------------------------------------------------
  # News
  ---------------------------------------------------------*/
  .news{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  @include tablet-portrait-and-below{
  padding: 0 20px;
  margin-bottom: 40px;
  }
  .post{
  width: 840px;
  max-width: 100%;
  height: 240px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  border: 2px solid #B8B3AC;
  @include mobile-landscape-and-below{
  width: 100%;
  border:inherit;
  flex-direction: column;
  height: auto;
  padding: 0;
  margin-bottom: 0;
  }
  a{
  color: var(--light-global-font-color);
  @include mobile-landscape-and-below{
  order: 2;
  }
  img{
  height: 100%;
  display: block;
  padding-right: 20px;
  @include mobile-landscape-and-below{
  padding: 0;
  width: 100%;
  }
  }
  }
  .learn-more{
  display: none;
  @include mobile-landscape-and-below{
  font-size: 14px;
  padding: 15px 0;
  display: inherit;
  font-weight: 600;
  &:after{
    content: url("../images/icons/plus-black-symbol.svg");
    margin-left: 5px;
    &:hover{
    color: var(--global-cta-hover);
    }
  }
  }
  }
  .news-content-container{
  width: 60%;
  @include mobile-landscape-and-below{
  width: 100%;
  order: 1;
  }
  h3{
  @include mobile-landscape-and-below{
    border-top: 1px solid #979797;
    padding: 17px 0;
    margin:0;
  }
  }
  p{
  width: 100%;
  @include mobile-landscape-and-below{
    display: none;
  }
  }
  }
  }
  }

  /*--------------------------------------------------------
  # CTA
  ---------------------------------------------------------*/
  #homepage-cta {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
  height: 100%;
  }
  .cta-container {
  position: relative;
  height: 330px;
  box-shadow: inset 0 0 10px rgba(0,0,0,.5);
  }
  .homepage-cta-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 93px;
  left: 0;
  right: 0;
  p{
  color: var(--dark-heading-color);
  font-size: 30px;
  font-weight:bold;
  @include mobile-only{
  font-size: 18px;
  text-align: center;
  width: 80%;
  margin: 0 auto 25px;
  }
  }
  @include mobile-only{
  padding: 15px;
  }
  }
