@import 'media-queries';

.site-header {
	padding-bottom: 0;
	z-index: 1;
	position: relative;

	.navbar-container {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 padding: 0 70px;
	 margin-top: 75px;
	 //media query
	 @include mobile-landscape-and-below {
		padding: 0 15px;
	}
}

   .secondary-nav {
	 background-color: var(--global-secondary-color);
	 padding: 25px;
   position: fixed;
	 z-index: 1;
	 width: 100%;
	 top: 0;
	//media query
	@include mobile-landscape-and-below {
		padding: 15px 25px;
	}
  }
}

.secondary-nav-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;

	@include tablet-only{
		justify-content: space-evenly;
	}

	:nth-child(1){
		letter-spacing: .5px;
		.nav-call{
			font-weight: 300;
		    &:before{
			  	content: url("../images/icons/phone-receiver.svg");
				margin-right: 12px;
				align-content: center;
		}
		&:hover{
			color: var(--global-cta-hover);
		}
	}
	@include mobile-landscape-and-below {
       order: 1;
	   flex-grow: 1;
	   margin-bottom: 4px;
     }
	}

	:nth-child(2){
		letter-spacing: .5px;
		@include mobile-landscape-and-below {
			width: 115px;
		}
		.nav-location{
			&:hover{
				color: var(--global-cta-hover);
			}
			font-weight: 300;
			&:before{
				content: url("../images/icons/location.svg");
				margin-right: 10px;
			  }
			&:after{
				content: '';
				width: 0;
				height: 50%;
				position: absolute;
				border: 1px solid var(--border-color);
				margin-left: 30px;
				margin-top: -6px;
				@include tablet-portrait-and-below {
					display:none;
				}
			}
		}
		@include mobile-landscape-and-below {
			order: 3;
			flex-grow: 1;
			flex-basis: 100%;
		}
	}

	:nth-child(3) {
		::-webkit-input-placeholder {
		   color:transparent;
		}
		.search-form{
			&:after{
				content: '';
				width: 0;
				height: 50%;
				position: absolute;
				border: 1px solid var(--border-color);
				margin-top: -33px;
				margin-left: 235px;
				@include tablet-portrait-and-below {
					display:none;
				}
			}
		}
		 input[type="search"] {
			 font-size: 16px;
			 border-radius: 2px;
			 padding-left: 1.25rem;
			 border-right: 0;
		}
		 input[type="submit"] {
			 border: 0;
			 border-left: 0;
			 background-color: var(--white);
			 border-radius: 0;
			 background: url(../images/icons/search.svg) no-repeat;
			 background-size: 18px;
			 background-position: center;
			 color: transparent;
			 margin-left: -50px;
		}
		 // search box media query
		 @include mobile-landscape-and-below {
			 display: none;
		}
	 }

	:nth-child(4) {
		.button {
			padding: 12px 10px;
		}
		@include mobile-landscape-and-below {
			order: 2;
			margin-bottom: -30px;
		}
	}

	.widget {
		margin-right: 70px;
		//media query
		@include tablet-portrait-and-below {
			margin-right: 0 !important;
		}
	}

	.textwidget a {
		color: var(--white);
		font-size: 16px;
		text-decoration: none;
		@include mobile-landscape-and-below {
		font-size: 14px;
		}
	}

	 // secondary-nav media query
	 @include mobile-landscape-and-below {
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
	 }
	}


/*--------------------------------------------------------
# Responsive Menu
---------------------------------------------------------*/
.responsive-menu-inner,
.responsive-menu-inner::before,
.responsive-menu-inner::after{
	border-radius: 0;
}
