	/*--------------------------------------------------------------
	# Global Styles
	--------------------------------------------------------------*/
	@import 'media-queries';
	@import 'header';
	@import 'front-page';
	@import 'services-template';
	@import 'blog';
	body{
	@include mobile-only{
	font-size: 16px;
	}
	}

	h2{
	@include mobile-only {
	margin: 40px auto;
	}
	}

	h3{
	@include mobile-landscape-and-below{
	font-size: 18px;
	}
	}

	p{
	line-height: 30px;
	@include tablet-landscape-and-below{
	font-size: 16px;
	line-height: 24px;
	}
	}


	.button {
	background-color: var(--global-cta-color);
	color: var(--white) !important;
	border-radius: 6px;
	padding: 15px 30px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px !important;
	text-decoration: none;
	letter-spacing: .5px;
	cursor:pointer;
	&:hover{
	background-color: var(--global-cta-hover);
	}
	}

	.learn-more{
		color: var(--light-global-font-color);
		font-weight: 600;
	}

	/*--------------------------------------------------------------
	# Footer
	--------------------------------------------------------------*/
	.site-footer{
	font-weight: 300;
	color: var(--white-smoke);

	.site-footer-container{
	padding: 70px;
	font-family: var(--global-font-family);
	background-color: var(--dark-heading-color);
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	font-size: 16px;
	@include tablet-portrait-and-below{
	font-size: 14px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	@include mobile-only{
	padding: 40px 20px;
	}

	.footer-nav-container{
	width: 33%;
	margin-right:70px;
	@include tablet-portrait-and-below{
	margin-right: 0;
	width: 100%;
	margin-bottom: 50px;
	}

	h3, h4{
	color: var(--white-smoke);
	border-bottom: 2px solid var(--border-color);
	padding-bottom: 10px;
	margin: 0 0 15px;
	@include tablet-only{
	font-size: 18px !important;
	}
	@include mobile-only{
	font-size: 16px !important;
	}

	}
	h4{
	border-bottom: 0;
	margin-bottom: 0;
	font-weight:bold;
	}

	ul {
	column-count: 2;
	padding: 0;
	margin: 0;

	li{
	margin-bottom: 8px;
	a{
	cursor:pointer;
	color: var(--white-smoke)!important;
	&:hover{
	color: var(--global-cta-hover)!important;
	}
	}
	@include mobile-only {
		margin-bottom: 10px;
	}
	}
	}
	}
	.about {
	width: 17%;
	@include tablet-portrait-and-below{
	margin-right: 0;
	width: 100%;
	}
	ul{
	column-count: 1 !important;
	}
	}
	.footer-contact-us {
	margin-right: 0;
	margin-left: auto;
	width: 25%;
	ul{
	column-count: 1 !important;
	}
	@include tablet-portrait-and-below{
	margin-left: 0;
	width: 100%;
	}

	.widget_text {
	.office-container {
	color: var(--white);
	@include mobile-only{
	font-size: 14px;
	}
	ul{
	column-count:1;
	li{
	padding-bottom:10px;
	}
	.location {
	max-width: 257px;
	&:before{
	content: url("../images/icons/location.svg");
	margin-right: 10px;
	}
	}

	.nav-call {
	max-width: 257px;
	&:before{
	content: url("../images/icons/phone-receiver.svg");
	margin-right: 12px;
	align-content: center;
	}
	}
	}
	}
	}
	}
	}
	.site-info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	background: var(--global-secondary-color);
	padding: 20px 73px;
	font-size: 12px;
	@include tablet-portrait-and-below{
	padding: 25px;
	justify-content: center;
}

	.sep {
	color: var(--border-color);
	}

	a{
	 color: var(--white-smoke);
	 &:hover{
		 color: var(--global-cta-hover);
	 }
	}

	.socials {
	order: 2;
	@include tablet-portrait-and-below{
	display: none;
	}

	.menu {
	display: flex;
	align-items: center;
		.menu-item i._mi{
			color:var(--global-cta-color);
			&:hover{
				color: var(--global-cta-hover);
			}
		}
		.dashicons-googleplus{
			margin-left: 5px;
		}
	}
	}
	}
	}

	/*--------------------------------------------------------------
	# Sidebar
	--------------------------------------------------------------*/
.primary-sidebar{
	a{
		color: #333;
		&:hover{
			color: var(--global-cta-hover);
		}
	}
}
