  @import 'media-queries';

  /*--------------------------------------------------------
  # Dallas OBGYN Services Content
  ---------------------------------------------------------*/
  .wp-block-image{
  @include mobile-only{
  padding: 0 20px;
  }
  }
  .page-template-services .entry-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-width: 1245px;
    margin: 90px auto;
    @media screen and (max-width: 1200px){
      justify-content: center;
    }
    @media screen and (max-width: 1117px){
      margin: 40px auto;
    }
    .wp-block-image {
      @media screen and (max-width: 1117px){
      order: 2;
    }
      img {
        box-shadow: 6px 6px 10px 0px #adadad;
        max-width: 100%;
        margin: auto;
      }
    }
    .content-container{
    max-width: 500px;
    margin: 0 auto;
    @media screen and (max-width: 1117px) and (min-width:670px){
    max-width: 100%;
    margin: 0 90px;
    }
    @include mobile-landscape-and-below{
    max-width: 100%;
    margin: 0 20px;
    }
    h2{
    margin:0;
    @include tablet-portrait-and-below{
    margin:20px 0;
    }
    }
    p{
    @include tablet-portrait-and-below{
    margin:0 0 40px;
    }
    }
    }
  }

  /*--------------------------------------------------------
  # Services List --(Homepage & Services Template)--
  ---------------------------------------------------------*/
  .services{
  background-color: #FBF7F2;
  padding-bottom: 60px;
  @include mobile-only{
  padding: 0 13px;
  }
  .services-container{
  @include mobile-only{
  padding-bottom: 60px;
  }
  @media screen and (max-width: 1234px){
  justify-content: center;
  }
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1236px;
  h2{
  flex: 1 1 80%;
  text-align: center;
  margin: 60px auto 45px;
  }
  .service{
  margin: 15px;
  width: 382px;
  height: 315px;
  border: 2px solid #B8B3AC;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  @include mobile-only{
  padding:20px;
  }
  @include mobile-landscape-and-below{
  margin: 7px;
  }
  h3{
  width: 200px;
  display: inline-block;
  margin: 0;
  @include mobile-landscape-and-below{
  max-width: 137px;
  margin: 0;
  }
  }
  img{
  width: 70px;
  height: 70px;
  margin-left: auto;
  display: inline-block;
  @include mobile-landscape-only{
  width: 55px;
  height: 55px;
  }
  @include mobile-portrait-only{
  width: 45px;
  height: 45px;
  }
  }
  p{
  line-height: 24px;
  max-width: 317px;
  font-size: 16px;
  @include mobile-landscape-and-below{
  line-height: 21px;
  }
  }
  a{
  @include mobile-landscape-and-below{
  font-size: 14px;
  }
  }
  }
  .button-container{
  flex-basis: 100%;
  margin-top: 40px;
  text-align: center;
  }
  }
  }
  /*--------------------------------------------------------
  # Services List --(PAGE TEMPLATE)--
  ---------------------------------------------------------*/
  .page-template{
  .services{
  .services-container{
  .service{
  @include mobile-only{
  width: 270px;
  height: 99px;
  flex-direction: row-reverse;
  padding: 15px 0 0 0;
  align-items: center;
  }
  h3{
  @include mobile-only{
  margin: -20px auto 0;
  }
  }
  p{
  @include mobile-only{
  display: none;
  }
  }
  a{
  @include mobile-only{
  margin-right: 71px;
  margin-top: -30px;
  }
  }
  }
  }
  }
  }
  /*--------------------------------------------------------
  # Prescription Content Container
  ---------------------------------------------------------*/
  .prescription{
  max-width: 1240px;
  margin: auto 90px 40px;
  h2{
    margin: 40px auto 20px;
  }
  }
