@import 'media-queries';

/*--------------------------------------------------------
# Doctors
---------------------------------------------------------*/

.doctors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.doctor {
  width: 390px;
  max-width: 100%;
  height: auto;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  margin: 20px;

  img {
    width: 100%;
  }
  h3 {
    margin-bottom: 0;
    font-size: 24px;
    color: #4a4a4a;
    font-weight: bold;
  }
  h4 {
    font-size: 20px;
    color: #4a4a4a;
    margin: 0;
    margin: 6px 0 24px 0;
  }
}

/* Doctor Single Post */

.single-doctors {

  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  aside {
    margin: 90px 45px 90px 5%;
    background-color: var(--global-secondary-color);
    color: var(--white);
    max-width: 390px;
    height: max-content;
    @media screen and (max-width: 600px) {
      margin: 45px 10px;
    }
  }
  article {
    margin: 90px 5% 90px 0;
    @media screen and (max-width: 600px) {
      margin: 0 10px 30px 10px;
    }
    .entry-header h1 {
      color: #00839C;
      font-size: 48px;
      margin: 0 0 20px 0;
      font-family: var(--global-font-family);
      font-weight: normal;
    }
    p {
      font-size: 18px;
      color: #4A4A4A;
      line-height: 30px;
    }
    .entry-content {
      flex-direction: column;
      margin-top: 0;
      .bottom {
        line-height: 30px;
      }
      h2 {
        margin: 20px 0;
        max-width: none;
      }
      ul {
        padding: 0 20px;
        list-style: disc;
        line-height: 35px;
      }
    }
  }
  .doctor-position {
    padding: 30px;
    font-size: 36px;
    font-weight: bold;
    font-family: var(--highlight-font-family);
  }
  .doctor-bio {
    padding: 0 30px;
    div {
      padding: 15px 0;
    }
    p {
      font-weight: 200;
      line-height: 22px;
    }
    strong {
      font-weight: bold;
    }
  }
  .services {
    flex: 0 0 100%;
  }
}
