/*--------------------------------------------------------
# Doctors
---------------------------------------------------------*/
.doctors-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 40px 0; }

.doctor {
	width: 390px;
	max-width: 100%;
	height: auto;
	text-align: center;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	margin: 20px; }
	.doctor img {
		width: 100%; }
	.doctor h3 {
		margin-bottom: 0;
		font-size: 24px;
		color: #4a4a4a;
		font-weight: bold; }
	.doctor h4 {
		font-size: 20px;
		color: #4a4a4a;
		margin: 0;
		margin: 6px 0 24px 0; }

/* Doctor Single Post */
.single-doctors main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap; }

.single-doctors aside {
	margin: 90px 45px 90px 5%;
	background-color: var(--global-secondary-color);
	color: var(--white);
	max-width: 390px;
	height: max-content; }
	@media screen and (max-width: 600px) {
		.single-doctors aside {
			margin: 45px 10px; } }

.single-doctors article {
	margin: 90px 5% 90px 0; }
	@media screen and (max-width: 600px) {
		.single-doctors article {
			margin: 0 10px 30px 10px; } }
	.single-doctors article .entry-header h1 {
		color: #00839C;
		font-size: 48px;
		margin: 0 0 20px 0;
		font-family: var(--global-font-family);
		font-weight: normal; }
	.single-doctors article p {
		font-size: 18px;
		color: #4A4A4A;
		line-height: 30px; }
	.single-doctors article .entry-content {
		flex-direction: column;
		margin-top: 0; }
		.single-doctors article .entry-content .bottom {
			line-height: 30px; }
		.single-doctors article .entry-content h2 {
			margin: 20px 0;
			max-width: none; }
		.single-doctors article .entry-content ul {
			padding: 0 20px;
			list-style: disc;
			line-height: 35px; }

.single-doctors .doctor-position {
	padding: 30px;
	font-size: 36px;
	font-weight: bold;
	font-family: var(--highlight-font-family); }

.single-doctors .doctor-bio {
	padding: 0 30px; }
	.single-doctors .doctor-bio div {
		padding: 15px 0; }
	.single-doctors .doctor-bio p {
		font-weight: 200;
		line-height: 22px; }
	.single-doctors .doctor-bio strong {
		font-weight: bold; }

.single-doctors .services {
	flex: 0 0 100%; }

/*# sourceMappingURL=../../maps/dev/css/doctors.css.map */
