@import 'media-queries';

.hero {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-size: 67%;
	background-position: top 40% right;
	height: 22rem;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.25), inset 620px 0 200px #fff;
	@media (min-width: 1520px) and (max-width: 2523px) {
	background-size: cover;
  }
	@include tablet-only {
	box-shadow: inset 0 0 5px rgba(0,0,0,0.25), inset 450px 0 200px #fff;
	height: 200px;
	}
	@include tablet-portrait-and-below {
	background-position: top right;
	}
	@include mobile-only {
	height: 200px;
	background-size: cover;
	background-position: top right 130%;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.25), inset 150px 0 200px #fff;
	}
	.hero_container{
		margin-left: 90px;
		@include mobile-only{
			margin: 0 20px;
		}
	}

	h1{
		margin: auto 0;
		color: var(--global-heading-color);
		font-size: 55px;
		width: 370px;
		@include tablet-only{
		font-size: 44px;
		width: 274px;
		}
		@include mobile-only {
		font-size: 33px;
		width: 206px;
		}
		span{
		color: var(--light-global-font-color);
		font-family: var(--global-font-family);
		display: block;
		font-size: 20px;
		@include tablet-only{
		font-size: 16px;
		}
		@include mobile-only {
		font-size: 12px;
		}
	  }
	}
}

/*--------------------------------------------------------
# Homepage
---------------------------------------------------------*/
.home{
	.hero{
		@media only screen and (min-width: 1520px){
		background-size: cover;
		background-position: top 28% right;
		}
		@include tablet-only{
		background-size: cover;
		box-shadow: inherit;
		}
		@include mobile-only{
		background-size: contain;
		box-shadow: inherit;
		}

		@include tablet-only{
		 margin-bottom: 60px;
		}
		.hero_container{
			@include tablet-only {
			margin-top: auto;
		}
			@include mobile-only{
    	margin-top: 230px;
			margin-bottom: 0;
			padding: 20px;
			}
			@include tablet-landscape-and-below{
				background-color: var(--white);
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				margin-left: 0;
				margin-right: 0;
				}
		}
	   background-size: contain;
	   height: 42rem;
		 @include tablet-landscape-and-below{
		 height: auto;
		 min-height: 50rem;
		 box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
		 background-position: top;
	 	}
		@include mobile-only{
	 	min-height: inherit;
		height: inherit;
		}

	   h1{
	   font-size: 24px;
	   font-weight: normal;
	   width: 96%;
		 @include tablet-only{
			 margin-top: -95px;
		 }
	   @include tablet-landscape-and-below{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		}
	   @include tablet-landscape-and-below{
		background-color: var(--white);
		height: 200px;
		text-align: center;
		box-shadow: 0px 1px 10px 2px rgba(0,0,0,.2);
		font-size: 20px;
		}
		@include mobile-only {
		font-size: 22px;
		height: 140px;
		width: 100%;
		}
		@include mobile-landscape-only{
			margin-top: -95px;
		}
	   span{
		font-size: 60px;
		letter-spacing: -3.63px;
		@include tablet-only{
		font-size: 50px;
		}
		@include mobile-only {
		font-size: 32px;
		letter-spacing: -2.35px;
		}
		@include mobile-portrait-only{
			font-size: 28px;
		}
	  }
	}
	   p{
		   width: 42%;
		   margin-bottom: 5%;
		   @include tablet-only {
				width: 100%;
				padding: 0 20px;
		   }
		   @include mobile-only {
			width: 100%;
			margin-top: 28px;
			margin-bottom: 40px;
		   }
	   }
		 .button{
			 margin-bottom: 40px;
		 }
	}
}
