.hero {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-size: 67%;
	background-position: top 40% right;
	height: 22rem;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25), inset 620px 0 200px #fff; }
	@media (min-width: 1520px) and (max-width: 2523px) {
		.hero {
			background-size: cover; } }
	@media only screen and (min-width: 671px) and (max-width: 1024px) {
		.hero {
			box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25), inset 450px 0 200px #fff;
			height: 200px; } }
	@media only screen and (max-width: 930px) {
		.hero {
			background-position: top right; } }
	@media (max-width: 670px) {
		.hero {
			height: 200px;
			background-size: cover;
			background-position: top right 130%;
			box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25), inset 150px 0 200px #fff; } }
	.hero .hero_container {
		margin-left: 90px; }
		@media (max-width: 670px) {
			.hero .hero_container {
				margin: 0 20px; } }
	.hero h1 {
		margin: auto 0;
		color: var(--global-heading-color);
		font-size: 55px;
		width: 370px; }
		@media only screen and (min-width: 671px) and (max-width: 1024px) {
			.hero h1 {
				font-size: 44px;
				width: 274px; } }
		@media (max-width: 670px) {
			.hero h1 {
				font-size: 33px;
				width: 206px; } }
		.hero h1 span {
			color: var(--light-global-font-color);
			font-family: var(--global-font-family);
			display: block;
			font-size: 20px; }
			@media only screen and (min-width: 671px) and (max-width: 1024px) {
				.hero h1 span {
					font-size: 16px; } }
			@media (max-width: 670px) {
				.hero h1 span {
					font-size: 12px; } }

/*--------------------------------------------------------
# Homepage
---------------------------------------------------------*/
.home .hero {
	background-size: contain;
	height: 42rem; }
	@media only screen and (min-width: 1520px) {
		.home .hero {
			background-size: cover;
			background-position: top 28% right; } }
	@media only screen and (min-width: 671px) and (max-width: 1024px) {
		.home .hero {
			background-size: cover;
			box-shadow: inherit; } }
	@media (max-width: 670px) {
		.home .hero {
			background-size: contain;
			box-shadow: inherit; } }
	@media only screen and (min-width: 671px) and (max-width: 1024px) {
		.home .hero {
			margin-bottom: 60px; } }
	@media only screen and (min-width: 671px) and (max-width: 1024px) {
		.home .hero .hero_container {
			margin-top: auto; } }
	@media (max-width: 670px) {
		.home .hero .hero_container {
			margin-top: 230px;
			margin-bottom: 0;
			padding: 20px; } }
	@media only screen and (max-width: 1024px) {
		.home .hero .hero_container {
			background-color: var(--white);
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			margin-left: 0;
			margin-right: 0; } }
	@media only screen and (max-width: 1024px) {
		.home .hero {
			height: auto;
			min-height: 50rem;
			box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
			background-position: top; } }
	@media (max-width: 670px) {
		.home .hero {
			min-height: inherit;
			height: inherit; } }
	.home .hero h1 {
		font-size: 24px;
		font-weight: normal;
		width: 96%; }
		@media only screen and (min-width: 671px) and (max-width: 1024px) {
			.home .hero h1 {
				margin-top: -95px; } }
		@media only screen and (max-width: 1024px) {
			.home .hero h1 {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center; } }
		@media only screen and (max-width: 1024px) {
			.home .hero h1 {
				background-color: var(--white);
				height: 200px;
				text-align: center;
				box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
				font-size: 20px; } }
		@media (max-width: 670px) {
			.home .hero h1 {
				font-size: 22px;
				height: 140px;
				width: 100%; } }
		@media only screen and (min-width: 321px) and (max-width: 670px) {
			.home .hero h1 {
				margin-top: -95px; } }
		.home .hero h1 span {
			font-size: 60px;
			letter-spacing: -3.63px; }
			@media only screen and (min-width: 671px) and (max-width: 1024px) {
				.home .hero h1 span {
					font-size: 50px; } }
			@media (max-width: 670px) {
				.home .hero h1 span {
					font-size: 32px;
					letter-spacing: -2.35px; } }
			@media (max-width: 320px) {
				.home .hero h1 span {
					font-size: 28px; } }
	.home .hero p {
		width: 42%;
		margin-bottom: 5%; }
		@media only screen and (min-width: 671px) and (max-width: 1024px) {
			.home .hero p {
				width: 100%;
				padding: 0 20px; } }
		@media (max-width: 670px) {
			.home .hero p {
				width: 100%;
				margin-top: 28px;
				margin-bottom: 40px; } }
	.home .hero .button {
		margin-bottom: 40px; }

/*# sourceMappingURL=../../maps/dev/css/hero.css.map */
