/*--------------------------------------------------------------
	# Global Styles
	--------------------------------------------------------------*/
.site-header {
	padding-bottom: 0;
	z-index: 1;
	position: relative; }
	.site-header .navbar-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 70px;
		margin-top: 75px; }
		@media only screen and (max-width: 670px) {
			.site-header .navbar-container {
				padding: 0 15px; } }
	.site-header .secondary-nav {
		background-color: var(--global-secondary-color);
		padding: 25px;
		position: fixed;
		z-index: 1;
		width: 100%;
		top: 0; }
		@media only screen and (max-width: 670px) {
			.site-header .secondary-nav {
				padding: 15px 25px; } }

.secondary-nav-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap; }
	@media only screen and (min-width: 671px) and (max-width: 1024px) {
		.secondary-nav-container {
			justify-content: space-evenly; } }
	.secondary-nav-container :nth-child(1) {
		letter-spacing: .5px; }
		.secondary-nav-container :nth-child(1) .nav-call {
			font-weight: 300; }
			.secondary-nav-container :nth-child(1) .nav-call:before {
				content: url("../images/icons/phone-receiver.svg");
				margin-right: 12px;
				align-content: center; }
			.secondary-nav-container :nth-child(1) .nav-call:hover {
				color: var(--global-cta-hover); }
		@media only screen and (max-width: 670px) {
			.secondary-nav-container :nth-child(1) {
				order: 1;
				flex-grow: 1;
				margin-bottom: 4px; } }
	.secondary-nav-container :nth-child(2) {
		letter-spacing: .5px; }
		@media only screen and (max-width: 670px) {
			.secondary-nav-container :nth-child(2) {
				width: 115px; } }
		.secondary-nav-container :nth-child(2) .nav-location {
			font-weight: 300; }
			.secondary-nav-container :nth-child(2) .nav-location:hover {
				color: var(--global-cta-hover); }
			.secondary-nav-container :nth-child(2) .nav-location:before {
				content: url("../images/icons/location.svg");
				margin-right: 10px; }
			.secondary-nav-container :nth-child(2) .nav-location:after {
				content: '';
				width: 0;
				height: 50%;
				position: absolute;
				border: 1px solid var(--border-color);
				margin-left: 30px;
				margin-top: -6px; }
				@media only screen and (max-width: 930px) {
					.secondary-nav-container :nth-child(2) .nav-location:after {
						display: none; } }
		@media only screen and (max-width: 670px) {
			.secondary-nav-container :nth-child(2) {
				order: 3;
				flex-grow: 1;
				flex-basis: 100%; } }
	.secondary-nav-container :nth-child(3) ::-webkit-input-placeholder {
		color: transparent; }
	.secondary-nav-container :nth-child(3) .search-form:after {
		content: '';
		width: 0;
		height: 50%;
		position: absolute;
		border: 1px solid var(--border-color);
		margin-top: -33px;
		margin-left: 235px; }
		@media only screen and (max-width: 930px) {
			.secondary-nav-container :nth-child(3) .search-form:after {
				display: none; } }
	.secondary-nav-container :nth-child(3) input[type="search"] {
		font-size: 16px;
		border-radius: 2px;
		padding-left: 1.25rem;
		border-right: 0; }
	.secondary-nav-container :nth-child(3) input[type="submit"] {
		border: 0;
		border-left: 0;
		background-color: var(--white);
		border-radius: 0;
		background: url(../images/icons/search.svg) no-repeat;
		background-size: 18px;
		background-position: center;
		color: transparent;
		margin-left: -50px; }
	@media only screen and (max-width: 670px) {
		.secondary-nav-container :nth-child(3) {
			display: none; } }
	.secondary-nav-container :nth-child(4) .button {
		padding: 12px 10px; }
	@media only screen and (max-width: 670px) {
		.secondary-nav-container :nth-child(4) {
			order: 2;
			margin-bottom: -30px; } }
	.secondary-nav-container .widget {
		margin-right: 70px; }
		@media only screen and (max-width: 930px) {
			.secondary-nav-container .widget {
				margin-right: 0 !important; } }
	.secondary-nav-container .textwidget a {
		color: var(--white);
		font-size: 16px;
		text-decoration: none; }
		@media only screen and (max-width: 670px) {
			.secondary-nav-container .textwidget a {
				font-size: 14px; } }
	@media only screen and (max-width: 670px) {
		.secondary-nav-container {
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: wrap; } }

/*--------------------------------------------------------
# Responsive Menu
---------------------------------------------------------*/
.responsive-menu-inner,
.responsive-menu-inner::before,
.responsive-menu-inner::after {
	border-radius: 0; }

/*--------------------------------------------------------
	# News
	---------------------------------------------------------*/
.news {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 120px; }
	@media only screen and (max-width: 930px) {
		.news {
			padding: 0 20px;
			margin-bottom: 40px; } }
	.news .post {
		width: 840px;
		max-width: 100%;
		height: 240px;
		margin-bottom: 20px;
		padding: 20px;
		display: flex;
		border: 2px solid #B8B3AC; }
		@media only screen and (max-width: 670px) {
			.news .post {
				width: 100%;
				border: inherit;
				flex-direction: column;
				height: auto;
				padding: 0;
				margin-bottom: 0; } }
		.news .post a {
			color: var(--light-global-font-color); }
			@media only screen and (max-width: 670px) {
				.news .post a {
					order: 2; } }
			.news .post a img {
				height: 100%;
				display: block;
				padding-right: 20px; }
				@media only screen and (max-width: 670px) {
					.news .post a img {
						padding: 0;
						width: 100%; } }
		.news .post .learn-more {
			display: none; }
			@media only screen and (max-width: 670px) {
				.news .post .learn-more {
					font-size: 14px;
					padding: 15px 0;
					display: inherit;
					font-weight: 600; }
					.news .post .learn-more:after {
						content: url("../images/icons/plus-black-symbol.svg");
						margin-left: 5px; }
						.news .post .learn-more:after:hover {
							color: var(--global-cta-hover); } }
		.news .post .news-content-container {
			width: 60%; }
			@media only screen and (max-width: 670px) {
				.news .post .news-content-container {
					width: 100%;
					order: 1; } }
			@media only screen and (max-width: 670px) {
				.news .post .news-content-container h3 {
					border-top: 1px solid #979797;
					padding: 17px 0;
					margin: 0; } }
			.news .post .news-content-container p {
				width: 100%; }
				@media only screen and (max-width: 670px) {
					.news .post .news-content-container p {
						display: none; } }

/*--------------------------------------------------------
	# CTA
	---------------------------------------------------------*/
#homepage-cta {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
	filter: blur(5px);
	height: 100%; }

.cta-container {
	position: relative;
	height: 330px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); }

.homepage-cta-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 93px;
	left: 0;
	right: 0; }
	.homepage-cta-container p {
		color: var(--dark-heading-color);
		font-size: 30px;
		font-weight: bold; }
		@media (max-width: 670px) {
			.homepage-cta-container p {
				font-size: 18px;
				text-align: center;
				width: 80%;
				margin: 0 auto 25px; } }
	@media (max-width: 670px) {
		.homepage-cta-container {
			padding: 15px; } }

/*--------------------------------------------------------
	# Dallas OBGYN Services Content
	---------------------------------------------------------*/
@media (max-width: 670px) {
	.wp-block-image {
		padding: 0 20px; } }

.page-template-services .entry-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: row;
	max-width: 1245px;
	margin: 90px auto; }
	@media screen and (max-width: 1200px) {
		.page-template-services .entry-content {
			justify-content: center; } }
	@media screen and (max-width: 1117px) {
		.page-template-services .entry-content {
			margin: 40px auto; } }
	@media screen and (max-width: 1117px) {
		.page-template-services .entry-content .wp-block-image {
			order: 2; } }
	.page-template-services .entry-content .wp-block-image img {
		box-shadow: 6px 6px 10px 0px #adadad;
		max-width: 100%;
		margin: auto; }
	.page-template-services .entry-content .content-container {
		max-width: 500px;
		margin: 0 auto; }
		@media screen and (max-width: 1117px) and (min-width: 670px) {
			.page-template-services .entry-content .content-container {
				max-width: 100%;
				margin: 0 90px; } }
		@media only screen and (max-width: 670px) {
			.page-template-services .entry-content .content-container {
				max-width: 100%;
				margin: 0 20px; } }
		.page-template-services .entry-content .content-container h2 {
			margin: 0; }
			@media only screen and (max-width: 930px) {
				.page-template-services .entry-content .content-container h2 {
					margin: 20px 0; } }
		@media only screen and (max-width: 930px) {
			.page-template-services .entry-content .content-container p {
				margin: 0 0 40px; } }

/*--------------------------------------------------------
	# Services List --(Homepage & Services Template)--
	---------------------------------------------------------*/
.services {
	background-color: #FBF7F2;
	padding-bottom: 60px; }
	@media (max-width: 670px) {
		.services {
			padding: 0 13px; } }
	.services .services-container {
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		max-width: 1236px; }
		@media (max-width: 670px) {
			.services .services-container {
				padding-bottom: 60px; } }
		@media screen and (max-width: 1234px) {
			.services .services-container {
				justify-content: center; } }
		.services .services-container h2 {
			flex: 1 1 80%;
			text-align: center;
			margin: 60px auto 45px; }
		.services .services-container .service {
			margin: 15px;
			width: 382px;
			height: 315px;
			border: 2px solid #B8B3AC;
			padding: 30px;
			display: flex;
			flex-wrap: wrap; }
			@media (max-width: 670px) {
				.services .services-container .service {
					padding: 20px; } }
			@media only screen and (max-width: 670px) {
				.services .services-container .service {
					margin: 7px; } }
			.services .services-container .service h3 {
				width: 200px;
				display: inline-block;
				margin: 0; }
				@media only screen and (max-width: 670px) {
					.services .services-container .service h3 {
						max-width: 137px;
						margin: 0; } }
			.services .services-container .service img {
				width: 70px;
				height: 70px;
				margin-left: auto;
				display: inline-block; }
				@media only screen and (min-width: 321px) and (max-width: 670px) {
					.services .services-container .service img {
						width: 55px;
						height: 55px; } }
				@media (max-width: 320px) {
					.services .services-container .service img {
						width: 45px;
						height: 45px; } }
			.services .services-container .service p {
				line-height: 24px;
				max-width: 317px;
				font-size: 16px; }
				@media only screen and (max-width: 670px) {
					.services .services-container .service p {
						line-height: 21px; } }
			@media only screen and (max-width: 670px) {
				.services .services-container .service a {
					font-size: 14px; } }
		.services .services-container .button-container {
			flex-basis: 100%;
			margin-top: 40px;
			text-align: center; }

/*--------------------------------------------------------
	# Services List --(PAGE TEMPLATE)--
	---------------------------------------------------------*/
@media (max-width: 670px) {
	.page-template .services .services-container .service {
		width: 270px;
		height: 99px;
		flex-direction: row-reverse;
		padding: 15px 0 0 0;
		align-items: center; } }

@media (max-width: 670px) {
	.page-template .services .services-container .service h3 {
		margin: -20px auto 0; } }

@media (max-width: 670px) {
	.page-template .services .services-container .service p {
		display: none; } }

@media (max-width: 670px) {
	.page-template .services .services-container .service a {
		margin-right: 71px;
		margin-top: -30px; } }

/*--------------------------------------------------------
	# Prescription Content Container
	---------------------------------------------------------*/
.prescription {
	max-width: 1240px;
	margin: auto 90px 40px; }
	.prescription h2 {
		margin: 40px auto 20px; }

/*--------------------------------------------------------
# Blog
---------------------------------------------------------*/
.blog .site-main,
.category .site-main {
	margin: auto;
	display: flex;
	margin: 30px auto;
	max-width: 1200px;
	padding: 0 10px; }
	.blog .site-main .post,
	.category .site-main .post {
		max-width: 700px; }
		.blog .site-main .post .entry-header,
		.category .site-main .post .entry-header {
			margin-bottom: 20px; }
			.blog .site-main .post .entry-header .entry-title,
			.category .site-main .post .entry-header .entry-title {
				margin-bottom: 10px; }
			.blog .site-main .post .entry-header .entry-meta .posted-on,
			.category .site-main .post .entry-header .entry-meta .posted-on {
				font-family: var(--global-font-family); }
				.blog .site-main .post .entry-header .entry-meta .posted-on a,
				.category .site-main .post .entry-header .entry-meta .posted-on a {
					color: #333 !important; }
		.blog .site-main .post .entry-content,
		.category .site-main .post .entry-content {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			padding: 0;
			margin: 30px 0; }
			.blog .site-main .post .entry-content p,
			.category .site-main .post .entry-content p {
				margin-top: 0; }
	.blog .site-main .primary-sidebar,
	.category .site-main .primary-sidebar {
		margin-left: auto; }
		@media only screen and (max-width: 1024px) {
			.blog .site-main .primary-sidebar,
			.category .site-main .primary-sidebar {
				margin-left: 0;
				text-align: center;
				margin-bottom: 30px; } }
		.blog .site-main .primary-sidebar .widget .widget-title,
		.category .site-main .primary-sidebar .widget .widget-title {
			margin-bottom: 20px; }
	@media only screen and (max-width: 1024px) {
		.blog .site-main,
		.category .site-main {
			flex-direction: column;
			max-width: 835px; }
			.blog .site-main .widget_archive,
			.category .site-main .widget_archive {
				display: none; } }
	@media (max-width: 670px) {
		.blog .site-main,
		.category .site-main {
			margin: 0 20px; } }

.category #primary {
	flex-direction: column; }

/*--------------------------------------------------------
# Single Blog
---------------------------------------------------------*/
.single-post .hero {
	height: 267px;
	background-color: var(--border-color);
	box-shadow: inherit; }
	@media (max-width: 670px) {
		.single-post .hero {
			height: 140px; } }
	.single-post .hero .hero_container h1 {
		color: var(--white); }

.single-post .site-main {
	max-width: 1000px;
	margin: auto;
	padding: 0 20px; }
	.single-post .site-main .entry-header h1 {
		color: var(--global-heading-color); }
		@media (max-width: 670px) {
			.single-post .site-main .entry-header h1 {
				font-size: 20px; } }
	.single-post .site-main .entry-content {
		margin-bottom: 42px; }
		@media (max-width: 670px) {
			.single-post .site-main .entry-content {
				margin: 0; } }
		.single-post .site-main .entry-content img {
			width: 1000px; }
		.single-post .site-main .entry-content a {
			color: var(--light-global-font-color); }
			.single-post .site-main .entry-content a:hover {
				color: var(--global-cta-hover); }
	.single-post .site-main .post-nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 60px; }
		.single-post .site-main .post-nav .navigation {
			width: 70%;
			font-weight: 600; }
			@media (max-width: 670px) {
				.single-post .site-main .post-nav .navigation {
					font-size: 14px;
					width: 100%; } }

@media (max-width: 670px) {
	body {
		font-size: 16px; } }

@media (max-width: 670px) {
	h2 {
		margin: 40px auto; } }

@media only screen and (max-width: 670px) {
	h3 {
		font-size: 18px; } }

p {
	line-height: 30px; }
	@media only screen and (max-width: 1024px) {
		p {
			font-size: 16px;
			line-height: 24px; } }

@media only screen and (max-width: 670px) {
	.site-branding {
		width: 250px !important; } }

.button {
	background-color: var(--global-cta-color);
	color: var(--white) !important;
	border-radius: 6px;
	padding: 15px 30px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px !important;
	text-decoration: none;
	letter-spacing: .5px;
	cursor: pointer; }
	.button:hover {
		background-color: var(--global-cta-hover); }

.learn-more {
	color: var(--light-global-font-color);
	font-weight: 600; }

/*--------------------------------------------------------------
	# Footer
	--------------------------------------------------------------*/
.site-footer {
	font-weight: 300;
	color: var(--white-smoke); }
	.site-footer .site-footer-container {
		padding: 70px;
		font-family: var(--global-font-family);
		background-color: var(--dark-heading-color);
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		font-size: 16px; }
		@media only screen and (max-width: 930px) {
			.site-footer .site-footer-container {
				font-size: 14px;
				flex-direction: column;
				justify-content: center;
				align-items: center; } }
		@media (max-width: 670px) {
			.site-footer .site-footer-container {
				padding: 40px 20px; } }
		.site-footer .site-footer-container .footer-nav-container {
			width: 33%;
			margin-right: 70px; }
			@media only screen and (max-width: 930px) {
				.site-footer .site-footer-container .footer-nav-container {
					margin-right: 0;
					width: 100%;
					margin-bottom: 50px; } }
			.site-footer .site-footer-container .footer-nav-container h3, .site-footer .site-footer-container .footer-nav-container h4 {
				color: var(--white-smoke);
				border-bottom: 2px solid var(--border-color);
				padding-bottom: 10px;
				margin: 0 0 15px; }
				@media only screen and (min-width: 671px) and (max-width: 1024px) {
					.site-footer .site-footer-container .footer-nav-container h3, .site-footer .site-footer-container .footer-nav-container h4 {
						font-size: 18px !important; } }
				@media (max-width: 670px) {
					.site-footer .site-footer-container .footer-nav-container h3, .site-footer .site-footer-container .footer-nav-container h4 {
						font-size: 16px !important; } }
			.site-footer .site-footer-container .footer-nav-container h4 {
				border-bottom: 0;
				margin-bottom: 0;
				font-weight: bold; }
			.site-footer .site-footer-container .footer-nav-container ul {
				column-count: 2;
				padding: 0;
				margin: 0; }
				.site-footer .site-footer-container .footer-nav-container ul li {
					margin-bottom: 8px; }
					.site-footer .site-footer-container .footer-nav-container ul li a {
						cursor: pointer;
						color: var(--white-smoke) !important; }
						.site-footer .site-footer-container .footer-nav-container ul li a:hover {
							color: var(--global-cta-hover) !important; }
					@media (max-width: 670px) {
						.site-footer .site-footer-container .footer-nav-container ul li {
							margin-bottom: 10px; } }
		.site-footer .site-footer-container .about {
			width: 17%; }
			@media only screen and (max-width: 930px) {
				.site-footer .site-footer-container .about {
					margin-right: 0;
					width: 100%; } }
			.site-footer .site-footer-container .about ul {
				column-count: 1 !important; }
		.site-footer .site-footer-container .footer-contact-us {
			margin-right: 0;
			margin-left: auto;
			width: 25%; }
			.site-footer .site-footer-container .footer-contact-us ul {
				column-count: 1 !important; }
			@media only screen and (max-width: 930px) {
				.site-footer .site-footer-container .footer-contact-us {
					margin-left: 0;
					width: 100%; } }
			.site-footer .site-footer-container .footer-contact-us .widget_text .office-container {
				color: var(--white); }
				@media (max-width: 670px) {
					.site-footer .site-footer-container .footer-contact-us .widget_text .office-container {
						font-size: 14px; } }
				.site-footer .site-footer-container .footer-contact-us .widget_text .office-container ul {
					column-count: 1; }
					.site-footer .site-footer-container .footer-contact-us .widget_text .office-container ul li {
						padding-bottom: 10px; }
					.site-footer .site-footer-container .footer-contact-us .widget_text .office-container ul .location {
						max-width: 257px; }
						.site-footer .site-footer-container .footer-contact-us .widget_text .office-container ul .location:before {
							content: url("../images/icons/location.svg");
							margin-right: 10px; }
					.site-footer .site-footer-container .footer-contact-us .widget_text .office-container ul .nav-call {
						max-width: 257px; }
						.site-footer .site-footer-container .footer-contact-us .widget_text .office-container ul .nav-call:before {
							content: url("../images/icons/phone-receiver.svg");
							margin-right: 12px;
							align-content: center; }
	.site-footer .site-info {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		background: var(--global-secondary-color);
		padding: 20px 73px;
		font-size: 12px; }
		@media only screen and (max-width: 930px) {
			.site-footer .site-info {
				padding: 25px;
				justify-content: center; } }
		.site-footer .site-info .sep {
			color: var(--border-color); }
		.site-footer .site-info a {
			color: var(--white-smoke); }
			.site-footer .site-info a:hover {
				color: var(--global-cta-hover); }
		.site-footer .site-info .socials {
			order: 2; }
			@media only screen and (max-width: 930px) {
				.site-footer .site-info .socials {
					display: none; } }
			.site-footer .site-info .socials .menu {
				display: flex;
				align-items: center; }
				.site-footer .site-info .socials .menu .menu-item i._mi {
					color: var(--global-cta-color); }
					.site-footer .site-info .socials .menu .menu-item i._mi:hover {
						color: var(--global-cta-hover); }
				.site-footer .site-info .socials .menu .dashicons-googleplus {
					margin-left: 5px; }

/*--------------------------------------------------------------
	# Sidebar
	--------------------------------------------------------------*/
.primary-sidebar a {
	color: #333; }
	.primary-sidebar a:hover {
		color: var(--global-cta-hover); }

/*# sourceMappingURL=../../maps/dev/css/main.css.map */
