/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.primary-sidebar {
	font-family: var(--global-font-family);

}

@media only screen and (max-width: 1024px) and (min-width: 671px)
{
	.primary-sidebar{
		font-size: 16px;
	}
}
